/* google fonts imports */
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Reenie+Beanie|Sniglet|Tangerine');

body {
	color: #444;
	font-size: 18px;
	background: #abcbf7;
	min-height: 100vh;
	text-align: justify;
}

nav.navbar {
	background: #ccc;
	box-shadow: 0 0 5px #088;
	padding: 4px;
}

nav.navbar ul.nav-pills li a {
	color: #08c;
}

nav.navbar ul.nav-pills li.active a {
	background-color: #08c;
	color: #eee;
}

h1 {
	padding: 4px;
	margin: 0;
	display: inline-block;
}

h1 a, h1 a:active, h1 a:hover, h1 a:visited {
	text-decoration: none;
	color: #d9434f;
}

section {
	box-shadow: 0 0 5px #088;
	background: #fff;
}


h1, h2, h3 {
	font-family: 'Fontdiner Swanky';
}

h2, h3 {
	line-height: 1.2;
	text-shadow: 0 0 10px #fff;
	text-align: center;
}

strong {
	color: #d9434f;
}

form {
	display: flex;
	flex-flow: row wrap;
}

fieldset {
	flex: 1 0 150px;
}

label {
	display: inline-block;
	min-width: 50px;
}

input {
	max-width: 90px;
}

img {
	margin: 2em;
	display: inline;
	float: left;
}

.equation {
	text-align: center;
	margin: 20px auto;
}

.margin-top-20 {
	margin-top: 20px;
}

.color-one { color: #d9534f; }
.color-two { color: #5cb85c; }
.color-three { color: #5bc0de; }
.color-four { color: #f0ad4e; }
.color-five { color: #428bca; }
.color-six { color: #d9534f; }

ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.emo{
    font-size: 3em;
}
