body {
	line-height: 1.2;
	font-size: 18px;
	color: #444;
	background: #abcbf7;
}

.container {
	padding: 0;
	margin: 0 auto;
}

header {
	background: #eee;
	padding: 0;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 5px #088;
	padding: 3px;
}

h1 {
	color: #e85656;
	text-shadow: 0 0 20px #fff;
	margin: 3px 0 0 0;
	padding: 0;
	text-align: right;
}

h1 span.secondaryview, h1:hover span.mainview {
	display: none;
}

h1:hover span.secondaryview {
	display: inline;
}

h2, h3 {
	line-height: 1.2;
	color: #08c;
	text-align: center;
	text-shadow: 0 0 20px #fff;
}

strong {
	color: #e85656;
}

article, canvas {
	margin: 5px auto;
	padding: 1em;
	border-radius: 5px;
	box-shadow: 0 0 5px #088;
	background: #eee;
}

form {
	display: flex;
	flex-flow: row wrap;
}

fieldset {
	flex: 1 0 250px;
}

label {
	display: inline-block;
	min-width: 50px;
}

img {
	margin: 2em;
	display: inline;
	float: left;
}

.nav{
    padding-bottom: 5px;
}
